<div class="column">

    <table border="2">
        <tr style="background-color:grey">
            <td style="padding: 10px;">Order Id</td>
            <td style="padding:10px;"> First Name</td>
            <td style="padding: 10px;"> Last Name</td>
            <td style="padding: 10px;">Email</td>
            <td style="padding: 10px;">Mobile No</td>
            <td style="padding: 10px;"> Payment mode</td>
            <td style="padding: 10px;">Address</td>
           

        </tr>
        <tr *ngFor="let item of addfoods" style="background-color: lightgrey;">
            <td>{{item.id}}</td>
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phoneNo}}</td>
            <td>{{item.paymentmode}}</td>
            <td>{{item.address}}</td>
            
        </tr>
    </table>
</div>


<a class="btn btn-primary"  routerLink="/adashboard">Go Back</a>
